<form action="/posts/<%=post.id%>" method="POST" class="comment">
  <div class="comment_header">
    <h1>COMMENTS</h1>
  </div>

  <div class="comment_controll">
    <label for="comment">Enter your comment:</label>
    <textarea id="comment" name="description" required></textarea>

    <div class="comment_action">
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
