<nav class="nav">
  <h1 class="nav__logo"><a href="/">Baby<span>Sitting</span></a></h1>
  <div class="nav__links">
    <a href="/posts" class="nav_link">PONUDE</a>
    <a href="/add-post" class="nav_link">DODAJ PONUDU</a>
  </div>
</nav>
