<li class="list_list_item">
  <h2 class="post_header"><%= post.title %></h2>
  <img src="<%= post.imgUrl %>" class="post_img" />
  <p class="post_shortDesc"><%= post.shortDesc %></p>
  <div>
    <a href="/posts/<%=post.id%>" class="read_more_btn">Read more</a>
  </div>
</li>
