<li class="list_list_item">
  <img src="<%= post.imgUrl %>" class="post_img" />
  <p class="post_header"><%= post.title %></p>
  <div class="btn_div">
    <a href="/posts/<%=post.id%>" class="read_more_btn">Više</a>
  </div>
</li>
