<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/first-page.css">
</head>
<body>
  <%- include('includes/nav.ejs')  %>
<div class="firstPage">
<div class="slogan">
<h1 >VAŠA <span>DJECA</span><br>SU NAŠ<br>PRIORITET<br><span>REZERVIRAJTE</span><br>VEĆ DANAS</h1>
</div>
<div class="pocetnaSlika">
<img
src="https://static.vecteezy.com/system/resources/previews/024/316/124/non_2x/babysitter-service-online-nanny-occupation-babysitting-club-childcare-assistance-family-and-nursery-modern-flat-cartoon-style-illustration-on-white-background-vector.jpg"
alt="" 

>
</div>
</div>
</body>
</html>
