<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/posts.css">
</head>
<body>
   <%- include('includes/nav.ejs')  %>
   <div class="list">
      
      <% if(posts.length === 0) { %>
      <h1 class="list_header">Nema ponuda!</h1>
      <% } %>
      <% if(posts.length != 0) { %>
      <h1 class="list_header">POSLJEDNJE DODANE PONUDE</h1>
      <% } %>
      <% for (const post of posts) { %>
         <ul class="list_list">
            <%- include('includes/post.ejs', {post: post}) %>
         </ul>
      
      <% } %>
   </div>
</body>  
</html>