.content {
  display: flex;
  flex-direction: row;
  height: 80vh;
  align-items: center;
}

.detail_header {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 1.2rem;
}
.description {
  flex: 1;
  padding: 20px;
  align-items: center;
  font-size: 1.2rem;
  text-align: justify;
}

.img_div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.detail_img {
  max-width: 100%;
  height: auto;
}
